body {
    font-family: Graphik;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e0e7;
  }

  .container {
    max-width: 800px;
    background-color: #b4d0ca;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  .profile-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .profile-img{
    width: 180px;
    height: 200px;
    border: 3px solid rgb(89, 88, 88);
    border-radius: 10px;
  }
    

    h1 {
      font-size: 28px;
      color: #333;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 22px;
      color: #555;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 18px;
      color: #666;
      margin-top: 15px;
      margin-bottom: 5px;
    }
    p {
        margin: 5px 0;
      }
  
      .section {
        flex: 1;
        background-color: #d0e1e4; 
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 10px;
      }
  
      .section:last-child {
        margin-bottom: 0;
      }
  
      .section-divider {
        height: 1px;
        background-color: #ccc;
        margin: 10px 0;
      }
      .skillContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }
  
      .skillSection {
        flex: 1;
        background-color: #d0e1e4; 
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 10px;
      }
  
      .skillSection h2 {
        font-size: 22px;
        color: #555;
        margin-top: 20px;
        margin-bottom: 10px;
      }
  
      .skillSection ul {
        padding: 10;
        margin: 0;
        color: #111111;
      }
  
      .skillSection ul li {
        margin-bottom: 10px;
      }